.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.desktop .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1009px;
  position: relative;
}
.desktop .overlap {
  position: absolute;
  width: 1440px;
  height: 60px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}
.desktop .site-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 18px;
  left: 100px;
}
/* BARRA: Botão Currículo */
.desktop .curriculo-btn {
  width: 87px;
  gap: 6px;
  left: 1001px;
  display: flex;
  height: 35px;
  align-items: center;
  padding: 8px 13px;
  position: absolute;
  top: 13px;
  background-color: #f9f9f9;
  border-radius: 5px;
  overflow: hidden;
}
.desktop .crcl-icon {
  position: relative;
  width: 12.5px;
  height: 12.5px;
}
.desktop .crcl-frame {
  display: flex;
  width: 44px;
  height: 17px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 13px;
  position: relative;
  margin-right: -0.5px;
  background-color: #001f3f;
  border-radius: 50px;
  overflow: hidden;
}
.desktop .crcl-frame-txt {
  position: relative;
  width: fit-content;
  margin-top: -13.5px;
  margin-bottom: -9.5px;
  margin-left: -10px;
  margin-right: -10px;
  font-family: Inter;
  font-weight: 500;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
/* BARRA: Botão Mensagens */
.desktop .messages-btn {
  width: 75px;
  gap: 6px;
  left: 1106px;
  display: flex;
  height: 35px;
  align-items: center;
  padding: 8px 13px;
  position: absolute;
  top: 13px;
  background-color: #f9f9f9;
  border-radius: 5px;
  overflow: hidden;
}
.desktop .msg-icon {
  position: relative;
  width: 12.5px;
  height: 12.5px;
}
.desktop .msg-frame {
  width: 32px;
  height: 17px;
  position: relative;
  margin-right: -3.5px;
  background-color: #ababab;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 13px;
  border-radius: 50px;
  overflow: hidden;
}
.desktop .msg-frame-txt {
  position: relative;
  width: fit-content;
  margin-top: -13.5px;
  margin-bottom: -9.5px;
  margin-left: -6.5px;
  margin-right: -6.5px;
  font-family: Inter;
  font-weight: 500;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

/* BARRA: Botão Candidaturas */
.desktop .applications-btn {
  width: 75px;
  gap: 8px;
  left: 1199px;
  display: flex;
  height: 35px;
  align-items: center;
  padding: 8px 13px;
  position: absolute;
  top: 13px;
  background-color: #f9f9f9;
  border-radius: 5px;
  overflow: hidden;
}
.desktop .apl-icon {
  position: relative;
  width: 12.5px;
  height: 12.5px;
}
.desktop .apl-frame {
  width: 33px;
  height: 17px;
  position: relative;
  margin-right: -0.5px;
  background-color: #3498db;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 13px;
  border-radius: 50px;
  overflow: hidden;
}
.desktop .apl-frame-txt {
  position: relative;
  width: fit-content;
  margin-top: -13.5px;
  margin-bottom: -9.5px;
  margin-left: -8px;
  margin-right: -8px;
  font-family: Inter;
  font-weight: 500;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

/* BARRA: Botão Perfil */
.desktop .perfil-btn {
  display: flex;
  width: 48px;
  height: 35px;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 8px 10px;
  position: absolute;
  top: 13px;
  left: 1292px;
  background-color: #f9f9f9;
  border-radius: 5px;
  overflow: hidden;
}
.desktop .perfil-icon {
  position: relative;
  width: 12.5px;
  height: 12.5px;
  margin-left: -1.25px;
}

/* PRÓXIMA SEÇÃO */
.desktop .page-ttl {
  color: #000;
  font-family: Inter;
  font-size: 25.92px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 88px;
  left: 100px;
}

.desktop .page-bar {
  position: absolute;
  width: 1190px;
  height: 49px;
  top: 147px;
  left: 125px;
}
.desktop .data-frame {
  position: absolute;
  display: flex;
  width: 269px;
  padding: 16px;
  align-items: center;
  gap: 14px;
  border-radius: 10px;
  border: 1px solid #eee;
  background: #ffffff;
  cursor: pointer;
}
.desktop .data-txt {
  color: #6c6a6a;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.desktop .school-frame {
  display: flex;
  width: 269px;
  padding: 16px;
  align-items: center;
  gap: 14px;
  border-radius: 10px;
  border: 1px solid #eee;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 307px;
}
.desktop .school-txt {
  color: #6c6a6a;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.desktop .prf-exp-frame {
  display: flex;
  width: 269px;
  padding: 16px;
  align-items: center;
  gap: 14px;
  border-radius: 10px;
  border: 1px solid #3498db;
  background: #3498db;
  position: absolute;
  top: 0;
  left: 614px;
}
.desktop .prf-exp-txt {
  color: #ffffff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.desktop .skills-frame {
  display: flex;
  width: 269px;
  padding: 16px;
  align-items: center;
  gap: 14px;
  border-radius: 10px;
  border: 1px solid #eee;
  background: #fff;
  position: absolute;
  top: 0;
  left: 921px;
}
.desktop .skills-txt {
  color: #6c6a6a;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* FORMULÁRIO */
.desktop .overlap-group {
  position: absolute;
  width: 1240px;
  height: 699px;
  top: 220px;
  left: 100px;
  border-radius: 10px;
}
.desktop .form-box {
  width: 1240px;
  height: 699px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #eee;
  background: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
}
.competence-frame-1 {
  display: flex;
  width: 617px;
  height: 49px;
  padding: 16px;
  align-items: center;
  gap: 334px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #eee;
  background: #fafafa;
  position: absolute;
  top: 162px;
  left: 544px;
}
.competence-txt {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
}

#btnNivel {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 21px;
  width: 131px;
  height: 30px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.iniciante {
  background-color: #ffc107;
  color: #ffffff;
}

.intermediario {
  background-color: #ff5733;
  color: #ffffff;
}

.avancado {
  background-color: #4caf50;
  color: #ffffff;
}

.especialista {
  background-color: #3498db;
  color: #ffffff;
}
.competence-frame-2 {
  display: flex;
  width: 617px;
  height: 49px;
  padding: 16px;
  align-items: center;
  gap: 334px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #eee;
  background: #fafafa;
  position: absolute;
  top: 222px;
  left: 544px;
}
.competence-frame-3 {
  display: flex;
  width: 617px;
  height: 49px;
  padding: 16px;
  align-items: center;
  gap: 334px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #eee;
  background: #fafafa;
  position: absolute;
  top: 282px;
  left: 544px;
}
.competence-frame-4 {
  display: flex;
  width: 617px;
  height: 49px;
  padding: 16px;
  align-items: center;
  gap: 334px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #eee;
  background: #fafafa;
  position: absolute;
  top: 342px;
  left: 544px;
}
